@model Patient
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div class="container">
    <h2>
        @Model.Surname @Model.Name @Model.FatherName
    </h2>
    <div>
        <img class="img-block" src="~/images/@Model.TitleImagePath" align="left" vspace="5" hspace="5" />
    </div>
    <h3>
        @Model.Sex @Model.Birthday
        @Model.BloodType @Model.Rhesus
    </h3>
    <h4>
        @Model.DocumentType
        @Model.SerialDocument @Model.NumbDocument
        @Model.Rknopp
    </h4>
    <h4>
        @Model.TelNumb @Model.Email
    </h4>
    <div>
        @Html.Raw(Model.Text)
    </div>
</div>